-e .

# Packaging.
twine
wheel

# Example.
jinja2==3.*
markdown==3.3.*
starlette==0.20.*
uvicorn==0.17.*

# Tooling and tests.
autoflake
black==22.3.0
flake8
httpx==0.23.*
isort==5.*
mypy
pytest
pytest-asyncio
pytest-cov
seed-isort-config
types-markdown
websockets==10.*
