-e .

# Packaging.
twine
wheel

# Example.
jinja2==2.*
markdown==3.1.*
starlette==0.13.*
uvicorn==0.11.*

# Tooling and tests.
autoflake
black
flake8
httpx==0.12.*
isort==5.*
mypy
pytest
pytest-asyncio
pytest-cov
seed-isort-config
